.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 184px;
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
    .img__src {
        max-width: 50px;
        max-height: 50px;
    }
    img {
        max-width: 35px;
        max-height: 35px;
    }
    .btn {
        cursor: pointer;
    }
}